<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Books</title>
</head>
<body>
    <%- include("partials/header") %>
    <div id="books-page-main-content">
        <div class="books-page-main-content-item" id="left-sidebar">
            <button id="new-book-btn">New book</button>
        </div>
        <div class="books-page-main-content-item" id="books-container">
            <% books.forEach(book => { %>
                <div class="book">
                    <p><%= book.book_name %></p>
                    <p><%= book.author_name %></p>
                    <p><a href="/books/<%= book.book_name.toLowerCase() %>">View details</a></p>
                </div>
            <% }) %>
        </div>
    </div>

    <dialog id="add-book-dialog">
        <div id="add-book-div">
            <form action="/books/addBook" method="POST">
            <div class="form-rows-container">

                <div class="form-row">
                    <label for="">Name</label>
                    <input name="book_name" type="text">
                </div>

                <div class="form-row">
                    <label for="">Author</label>
                    <input name="author_name" type="text">
                </div>

                <div class="form-row">
                    <label for="">Year</label>
                    <input name="release_year" type="text">
                </div>

                <div class="form-row">
                    <label for="">Pages</label>
                    <input name="page_count" type="text">
                </div>

                <div class="form-row">
                    <div class="checkbox-row">
                        <label for="Fantasy">Fantasy</label>
                        <input id="Fantasy" name="genre" value="Fantasy" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Adventure">Adventure</label>
                        <input id="Adventure" name="genre" value="Adventure" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Science Fiction">Science Fiction</label>
                        <input id="Science Fiction" name="genre" value="Science Fiction" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Romance">Romance</label>
                        <input id="Romance" name="genre" value="Romance" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Dystopian">Dystopian</label>
                        <input id="Dystopian" name="genre" value="Dystopian" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Mystery">Mystery</label>
                        <input id="Mystery" name="genre" value="Mystery" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Thriller">Thriller</label>
                        <input id="Thriller" name="genre" value="Thriller" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Historical Fiction">Historical Fiction</label>
                        <input id="Historical Fiction" name="genre" value="Historical Fiction" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Horror">Horror</label>
                        <input id="Horror" name="genre" value="Horror" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Non-Fiction">Non-Fiction</label>
                        <input id="Non-Fiction" name="genre" value="Non-Fiction" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Biography">Biography</label>
                        <input id="Biography" name="genre" value="Biography" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Self-help">Self-help</label>
                        <input id="Self-help" name="genre" value="Self-help" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Humor">Humor</label>
                        <input id="Humor" name="genre" value="Humor" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Young Adult">Young Adult</label>
                        <input id="Young Adult" name="genre" value="Young Adult" type="checkbox">
                    </div>

                    <div class="checkbox-row">
                        <label for="Drama">Drama</label>
                        <input id="Drama" name="genre" value="Drama" type="checkbox">
                    </div>
                </div>

            </div>

            <div class="buttons-container">
                <button type="submit" id="add-btn">Add book</button>
                <button type="button" id="cancel-book-add-btn">Cancel</button>
            </div>
        </form>
        </div>
    </dialog>
    <%- include("partials/footer") %>
    <script src="/js/books.js"></script>
</body>
</html>