<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= book.book_name %></title>
</head>
<body>
    <%- include("partials/header") %>
    <div id="book-container">
        <div id="book">
            <p>Name: <%= book.book_name %></p>
            <p>Author: <%= book.author_name %></p>
            <p>Year: <%= book.release_year %></p>
            <p>Pages: <%= book.page_count %></p>
            <button id="edit-book-information">Edit</button>
            <button id="delete-book-btn">Delete book</button>
        </div>
    </div>

    <dialog id="confirm-choice-dialog">
        <form action="/books/deleteBook" method="POST">
            <input name="book_name" value="<%= book.book_name %>" type="text">
            <button type="submit" id="confirm-btn">Confirm</button>
        </form>
        <button id="cancel-btn">Cancel</button>
    </dialog>

    <dialog id="editBookDialog">
        <form action="/books/<%= book.book_name %>" method="POST">
            <div id="form-rows-container">

                <div class="form-row">
                    <label for="">Name</label>
                    <input name="book_name" value="<%= book.book_name %>" type="text">
                </div>

                <div class="form-row">
                    <label for="">Author</label>
                    <input name="author_name" value="<%= book.author_name %>" type="text">
                </div>

                <div class="form-row">
                    <label for="">Year</label>
                    <input name="release_year" value="<%= book.release_year %>" type="text">
                </div>

                <div class="form-row">
                    <label for="">Pages</label>
                    <input name="page_count" value="<%= book.page_count %>" type="text">
                </div>

            </div>
            <button type="submit" id="save-changes-btn">Save changes</button>
        </form>
    </dialog>
    <%- include("partials/footer") %>
    <script src="/js/book.js"></script>
</body>
</html>